*, *::before, *::after{
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

button:hover{
    cursor: pointer;
}

header{

}

.header-container{
    width: 90%;
    margin: 1.5em auto;
}

.header-container-top{
    display: flex;
    justify-content: space-between;
}

.header-container > h1{
    color: #d92cf9;
}

.header-container-bottom{
    display: none;
}

.nav-link-container{
    overflow-y: scroll;
}

.nav-link{
    margin: 1em 0;
}

.nav-link > a{
    color: gray;
    font-size: 1.1em;
}

.nav-link > a:hover{
    color: #d92cf9;
}

.section-one{
    padding-top: 10em;
    background-image: url('../assets/images/welcome-banner.jpg');
    text-align: center;
    color: white;
    height: 80vh;
    border-image: fill 1 linear-gradient(hsl(240 100% 25% / .4), hsl(230 100% 25% / .4));
}

.overlay{
    
}

.section-one-h1{
    font-size: 3.5em;
    font-weight: 900;
}

.section-one-p{
    font-size: 1.2em;
    margin: 2em 0;
}

.resume{
    padding: 1.5em 3em;
    color: white;
    background-color: #d92cf9;
    border: none;
}

.section-two-container{
    width: 95%;
    margin: 0 auto;
}

.section-two-info{
    margin: 2em 0;
}

.section-two-h1, .section-three-h1{
    text-align: center;
    padding: 2em 0;
    border-bottom: 1px solid rgba(192, 192, 192, .5);
}

.section-two-p1{
    font-size: 1.2rem;
    padding: 2em 0;
    font-weight: 500;
}

.section-two-p2{
    margin-bottom: 2em;
    color: gray;
}

.section-two-info > p{
    color: gray;
}

.section-one-img{
    margin-bottom: 3em;
}

.section-three{
    background-color: aliceblue;
}

